<html><head></head>
    
    <link href="styles/examples-offline.css" rel="stylesheet">
    <link href="styles/kendo-styles/kendo.common.min.css" rel="stylesheet">
    
    <link href="styles/kendo-styles/kendo.rtl.min.css" rel="stylesheet">
    <link href="styles/kendo-styles/kendo.default.min.css" rel="stylesheet">
    <link href="styles/kendo-styles/kendo.dataviz.min.css" rel="stylesheet">
    <link href="styles/kendo-styles/kendo.dataviz.default.min.css" rel="stylesheet">
    <script src="scripts/kendo-scripts/jquery.min.js"></script>
    <script src="scripts/kendo-scripts/angular.min.js"></script>
    <script src="scripts/kendo-scripts/kendo.all.min.js"></script>
    <script src="scripts/console.js"></script>
<body>	
<!-- ************************************************************ DropDownlist **********************************************-->
<input id="dropdownlist" /><br/>
<!--<span id="id_project" >Id</span><br/>
<span id="summary" >Name</span><br/>-->

            <script>
                $("#dropdownlist").kendoDropDownList({
                  dataSource: {
                    transport: {
                                read: {
                                	dataType: "json",
                                    url: "http://192.168.1.47:9000/api/services/project"
                                }
                            },
                            schema: {
                            	data: "Data",
                            	total: "Total",
                            	model: {
                            		id: "id",
                            		fields: {
                            			id_project: { editable: false, nullable: true },
                            			project_name: { validation: { required: true } }
                            		}
                        			}
                        		}
                  },
                  dataTextField: "project_name",
                  dataValueField: "id_project",
                  index: 1,
                  change: onChange
                });
// ************************************************************ DropDownlist **********************************************
// ************************************************************ Issues of Project **********************************************
			
		
                function onChange(e) {
                	
                    var dataItem = e.sender.dataItem();
                    $('#id_project').text(dataItem.id_project);
                    $('#summary').text(dataItem.summary);
                    var dataSource = new kendo.data.DataSource({
                    type: "json",
                    requestEnd: function (e) {
                        if (e.type !== "read") {
                            dataSource.read();
                        }
                    },
                    transport: {
                        read:"http://192.168.1.47:9000/api/service_issues/"+dataItem.id_project,           
                        update: {
                            url: function (issues) {
                        		return "http://192.168.1.47:9000/api/service/issues/{param: {id:"+issues.id+"}}"
                        	},
                        	type: "put"
                        },
                        create: {
                            url: "http://192.168.1.47:9000/api/service_user",
                            type: "POST"
                        },
                        destroy: {
                        	url: function (issues) {
                        		return "http://192.168.1.47:9000/api/service/issues/{param: {id:"+issues.id+"}}"
                        	},
                        	type: "DELETE"
                        }
                        /*destroy: {
                            url: "http://192.168.43.168:9000/api/service/issues",
                           // contentType: "application/json",
                            type: "delete"
                        }*/
                    },
                    serverPaging: true,
                    serverSorting: true,
                    serverFiltering: true,
                    pageSize: 10,
                    schema: {
                        data: "Data",
                        total: "Total",
                        model: {
                            id: "id",
                            fields: {
                                id: { editable: true},
                                id_project: { validation: { required: true } },
                                name_issue: { validation: { required: true } },
                                attachment: { validation: { required: true } },
                                description: { validation: { required: true } },
                                priority: { validation: { required: true } },
                                type: {validation: { required: true } },
                                state: { validation: { required: true } },
                                assigned_by: { validation: { required: true } },
                                due_date: { validation: { required: true } }
                            }
                        }
                    }
                });
                	$("#grid").kendoGrid({
                    dataSource: dataSource,
                    //groupable: true,
                    //sortable: true,
                    //filterable: true,
                    pageable: {
                        refresh: true,
                        pageSizes: true,
                        buttonCount: 5
                    },
                    detailTemplate: kendo.template($("#detail-template").html()),
                    detailInit: detailInit,
                    toolbar: ["create"],
                    scrollable: false,
                    columns: [
                    	
                        {
                            field: "name_issue",
                            title: "Name"
                        }, {
                            field: "description",
                            title: "Description"
                        },
                        {
                            field: "priority",
                            title: "Priority"
                        },
                        {
                            field: "attachment",
                            title: "Attachment"
                        }, {
                            field: "type",
                            title: "Type"
                        },{
                            field: "state",
                            title: "State"
                        },{
                            field: "assigned_by",
                            title: "Assigned_by"
                        },{
                            field: "due_date",
                            title: "Due Date"
                        },
                        {
                            command: ["edit","destroy"],
                            title: "&nbsp;",
                            width: "200px"
                        }
                    ],
                    editable: "popup"
                });
                	
// ************************************************************ Issues of Project **********************************************                
//********************************************************************************* Member of Project *****************************************
      var dataSource2 = new kendo.data.DataSource({
                    type: "json",
                    requestEnd: function (e) {
                        if (e.type !== "read") {
                            dataSource2.read();
                        }
                    },
                    transport: {
                        read: {
                            url: "http://192.168.1.47:9000/api/service/"+dataItem.id_project,
                            type: "GET"
                        }
                    },
                    serverPaging: true,
                    serverSorting: true,
                    serverFiltering: true,
                    pageSize: 10,
                    schema: {
                        data: "Data",
                        total: "Total",
                        model: {
                            id: "id",
                            fields: {
                                username: { validation: { required: true } }
                            }
                        }
                    }
                });
      
     			 function detailInit(e) {
                    var detailRow = e.detailRow;

                    detailRow.find(".tabstrip").kendoTabStrip({
                        animation: {
                            open: { effects: "fadeIn" }
                        }
                    });
                }
                
                $("#grid2").kendoGrid({
                    dataSource: dataSource2,
                    //groupable: true,
                    //sortable: true,
                    //filterable: true,
                    pageable: {
                        refresh: true,
                        pageSizes: true,
                        buttonCount: 5
                    },
                    //detailTemplate: kendo.template($("#detail-template").html()),
                    //detailInit: detailInit,
                    //toolbar: ["create"],
                    scrollable: false,
                    columns: [
                        {
                            field: "username",
                            title: "Member of Project",
                            width: "150px"
                        }
                    ]
                });
                  };
            </script>
<!--********************************************************************************* Member of Project ***************************************** -->
<div id="grid" style="width:800px; padding:2px;  margin:10px; margin-left:-320px;"></div>       

        <script type="text/x-kendo-template" id="detail-template">
            <div class="tabstrip">
                <ul>
                    <li class="k-state-active">User Information</li>
                </ul>
                <div class="user-details">
                    <ul>
                        <li><label>ID Project:</label>#= id_project #</li>
                        <li><label>Summary:</label>#= description #</li>
                    </ul>
            </div>
        </script>
        </div>
 <div id="grid2" style="width:320px; padding:2px;  margin:5px;"></div>
</body>	
</html>